<body>

<div id="home">

<h1>HERE IS A THING.</h1>
<h2>Here it comes...</h2>
<p>here it is >>>>> here.</p>
<br>
<br>
<br>
<p>Aw, you missed it.</p>
<br>
<br>
    <div id= "blog">
        <%= link_to 'Never mind that.', controller: 'articles' %>
    </div>

</div>
<img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Tdkc60cassette.jpg"/>
</body>