
<body>
<div id="new">

<h1>new article</h1>

<br>
    <%= render 'form' %>
<br>

    <div style="float: left; width: 100;">
        <%= button_to 'index', articles_path, :method => "get" %>
    </div>
    
    <div style="float: left; width: 100; valign: center;">
        <%= button_to 'home', root_path, :method => "get" %>
    </div>

</div>
</body>