body {
        min-height: 100%;
        background-size: cover;
        background-repeat:no-repeat;
        background: pink;
}

div {
        font-family: Courier;
        display: inline-block;
        padding: 0.5% 10% 5% 0.5%;
}

.wrap {
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        white-space: pre-wrap;       /* css-3 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        word-break: break-all;
        white-space: normal;
        overflow: hidden;
}

#button {
        color: red;
}

#new {
        min-height: 100%;
        background-size: cover;
        background-repeat:no-repeat;
        background: #cccccc;
}

#edit {
        min-height: 100%;
        background-size: cover;
        background-repeat:no-repeat;
        background: #99cc99;
}

#show {
        min-height: 100%;
        background-size: cover;
        background-repeat:no-repeat;
        background: #66cdaa;
}

#index {
        min-height: 100%;
        background-size: cover;
        background-repeat:no-repeat;
        background: skyblue;
}

#home {
        min-height: 100%;
        background-size: cover;
        background-repeat:no-repeat;
        background: orange;
}

p {
        padding: 10px;
}

img {
        padding: 10%;
}